.briegInfo {
    background-color: #e5e5e9;
    font-family: 'Nunito Sans';
    font-size: 11px;
    height: 550px;
    align-items: flex-end;
    top: -28px;
    z-index: 1;
}

.container{
    align-items: flex-start;
}

.briegInfo,
.container{
    display: flex;
    justify-content: space-around;
}

.container>div>img {
    width: 300px;
    margin-left:70px;
    opacity: 0.9;
    border-radius: 30px;
}

.textInfo>div{
    margin-left: 10px;
}

.briegInfo,
.textInfo>div{
    position: relative;
}

.textInfo>div>div {
    font-size: 23px;
    font-weight: 700;
    padding-bottom:15px;
}

.textInfo>div>p{
    width:260px ;
    line-height: 15px;
    text-align: justify;
    color:#7a7c7c;
}

.aButton>div>div{
    margin:25px 0;
    padding: 13px 0;
    width:150px;
    background-color: #10c9c3;
    text-align: center;
}

.aButton>div>div>a>span{
    font-size: 10px;
    color:white;
}