.servicesContainer {    
    font-family: 'Nunito Sans', Arial;
    background-color: #f5f5f5;
}

.services {
    width: 880px;
    flex-wrap: wrap;
}

.service {
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 20px 25px;
}

.services,
.servicesContainer{
    justify-content: center;

}

.servicesContainer,
.services,
.service{
    display: flex;
}

.text>div>div {
    font-size: 10px;
    font-weight: 700;
    color: #797878;
}

.text>div>p {
    font-size: 10px;
    color: #9b9999;
}

.text>div>div,
.text>div>p {
    text-align: center;
}