.container{
    position: relative;
    top:50px;
    font-family:'Nunito Sans', Arial;
}

.container>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f6f6f6;
}

.text{
    padding-right: 75px;
}

.img>div>img{
    width:550px;
}

.paginator{
    margin: 30px 0;
}

@media(max-width:1000px){
    .img>div>img{
        width:300px;
    }
}

@media(max-width:675px){
    .container>div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .text{
        padding-top:20px;
        padding-right: 0;
    }
}