.header {
    height: 20px;
    position: relative;
    top: 25px;
    z-index: 10;
}

.icon {
    position: relative;
    left: 40px;
    width: 5%;
}

.icon,
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu {
    position: relative;
    top: -28px;
    left: 40%;
    width: 60%;
}

.menu div {
    padding-right: 25px;
    font-family: 'Montserrat';
    font-size: 8px;
    font-weight: 600;
}

.active span {
    color: #10c9c3;
}

@media (max-width:500px) {
    .menu {
        flex-wrap: wrap;
    }

    .menu div {
        padding: 0 10px 10px;
    }
}