.container {
    position: relative;
    top: 50px;
    font-family: Arial;
}

.container>header {
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color:white; */
    /* background-image: ; */
}

.container>header>div>p {
    font-size: 14px;
    width: 400px;

}

.body {
    background-color: #f5f5f5;
}

.body,
.needProjectImg {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.bodyText>div>div,
.container>header>div>div,
.needProjectImg>div>div {
    padding-bottom: 10px;
}

.bodyText>div>p {
    width: 380px;
    text-align: left;
    padding-left: 100px;
}

.bodyText>div>p,
.needProjectImg>div>p {
    font-size: 13px;
}

.bodyImg>div>img {
    width: 400px;
}

.needProject {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px;
    /* background-color: #f5f5f5; */
}

.needProjectImg>div>p {
    width: 440px;
    text-align: center;
}

.needProjectImg {
    padding-bottom: 30px;
}

.needProjectText {
    background-color: #10c9c3;
    padding: 15px 30px;
    font-size: 10px;
    font-weight: 600;
}

.needProjectText a {
    color: white;
}

@media(max-width:500px) {
    .container>header>div>p {
        width: 300px;
    }
}

@media(max-width:880px) and (min-width:650px) {
    .bodyImg>div>img {
        width: 300px;
    }

    .bodyText>div>p {
        width: 300px;
        padding-left: 50px;
    }
}

@media(max-width:650px) {
    .body {
        justify-content: center;
    }

    .bodyImg>div>img {
        width: 300px;
    }

    .bodyText>div>p {
        width: 300px;
        padding-left: 0px;
    }

    .needProjectImg>div>p {
        width: 300px
    }
}